* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-text);
  background-color: var(--bg-color);
}
.title {
  font-family: var(--font-title);
}
img {
  width: 100%;
  display: block;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.limit-container {
  max-width: 1160px;
  margin: 0 auto;
}
.btn {
  font-weight: var(--semibold);
  color: var(--color-text);
}
