.header {
  width: 100%;
  background-color: var(--bg-header);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}
.header-container .logo {
  font-family: var(--font-title);
  color: var(--color-title);
  font-size: var(--l);
}
.header-container .logo span {
  color: var(--orange);
}
.header-container .list-nav {
  display: flex;
  gap: 40px;
  font-family: var(--font-title);
  color: var(--color-title);
  font-size: var(--m);
}
.header-container .list-nav a {
  padding: 5px;
}
